apiVersion: v1
kind: Service
metadata:
  name: student-app-service
  labels:
    app: student-app
spec:
  type: NodePort
  ports:
  - port: 3000
    targetPort: 3000
    nodePort: 30080  # Accessible externally on <Node-IP>:30080
    protocol: TCP
    name: http
  selector:
    app: student-app
